namespace assetcare;
using { cuid, managed, Currency } from '@sap/cds/common';

entity Equipment : cuid, managed {
  tag          : String;
  model        : String;
  serialNo     : String;
  status       : Association to EquipmentStatus;
  manufacturer : Association to Manufacturer;
  [[PH:the reverse to-many - all WorkOrders raised against this Equipment, via a backlink]]workOrders : Association to many WorkOrder on workOrders.equipment = $self[[/PH]];
}

entity Manufacturer : cuid, managed {
  name       : String;
  country    : String;
  equipments : Association to many Equipment on equipments.manufacturer = $self;
}

entity SparePart : cuid, managed {
  partNo   : String;
  name     : String;
  stock    : Integer;
  price    : Decimal;
  currency : Currency;
}

entity WorkOrder : cuid, managed {
  orderNo     : String;
  description : String;
  equipment   : Association to Equipment;
  items       : Composition of many WorkOrderItem on items.parent = $self;
}

entity WorkOrderItem : cuid {
  parent   : Association to WorkOrder;
  part     : Association to SparePart;
  quantity : Integer;
}

entity EquipmentStatus : sap.common.CodeList {
  key code : String(20);
}
